<div class="z-depth-4" ng-controller="profileCtrl">
    <div class="row passheaddiv">
        <h5 class="marginauto lightblackcolor">Change Password</h5>
        <img src="img/lock.png" class="passlockimage">
    </div>

    <div class="row marginbottom0">
        <div class="input-field marginauto width65 textcenter">
            <input id="currentpassword" type=tel style="-webkit-text-security:disc;" ng-model="changepassworddata.currpassword" class="validate secondarycolor noshadow changepasswordinput" maxlength="4" placeholder="Current Password">
        </div>
    </div>

    <div class="row marginbottom0">
        <div class="input-field marginauto width65 textcenter">
            <input id="newpassword" type=tel style="-webkit-text-security:disc;" ng-model="changepassworddata.newpassword" class="validate secondarycolor noshadow changepasswordinput" maxlength="4" placeholder="Create Password">
        </div>
    </div>

    <div class="row marginbottom0">
        <div class="input-field marginauto width65 textcenter">
            <input id="confirmpassword" type=tel style="-webkit-text-security:disc;" ng-model="changepassworddata.confpassword" class="validate secondarycolor noshadow changepasswordinput" maxlength="4" placeholder="Confirm Password">
        </div>
    </div>
    <div class="row paddingbottom30">
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10 boldbutton nouppercase" ng-click="hidepasswordpopup()">Cancel</a>
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10 boldbutton nouppercase" ng-click="changepass()">Submit</a>
    </div>

</div>
