<ion-view view-title="Chatlist" edge-drag-threshold="false" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Chats</h1>
        <div class="buttons">
            <!--<button class="button button-icon button-clear ion-plus-round">
            </button>-->
        </div>
    </ion-header-bar>
    <ion-content class="has-header">


        <div class="list">

            <a class="item item-avatar" ng-repeat="chat in chatlist" ng-click="gotochat(chat.cuserid, chat.cname)" ng-class="{'unattendedquestion':chat.isread==0}">
                <img src="{{usertypes[chat.cuserstype - 1].image}}">
                <h2 class="chatname">{{chat.cname | allcapitalize}}</h2>
                <h5 class="darkgreycolor floatright chattime">{{chat.lastmsgtime}}</h5>
            </a>

        </div>

    </ion-content>
</ion-view>
