<ion-view view-title="Filter" edge-drag-threshold="false" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Filter</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="row marginbottom0">
            <h5 class="fontsize12 lightblackcolor">Filter By</h5>
        </div>


        <!--SUBJECTS-->
        <div class="bottomstabs positioninitial">
            <div class="row marginbottom0 paddingbottom0 bottomimagestab paddingtop0">
                <div class="col col-25 textcenter bottomtabimages paddingbottom0 paddingtop0" ng-repeat="subject in subjects" ng-click="selectsubject($index, subject.subjectid)">
                    <img src="{{subject.iconpath}}" class="subjfilterimages" width="32%" ng-show="$index == selectedsubject || selectedsubject==null">
                    <img src="{{subject.inacticonpath}}" class="subjfilterimages" width="32%" ng-show="$index != selectedsubject && selectedsubject !=null">
                </div>
            </div>
            <div class="row marginbottom0 paddingbottom0">
                <div class="col col-25 textcenter bottomtabtextdiv" ng-repeat="subject in subjects">
                    <h6 class="margin0 bottomtabtext">{{subject.subject}}</h6>
                </div>
            </div>
        </div>

        <!--CHAPTERS-->
        <div id="chapterslist" class="chaptersdiv positioninitial">
            <ul class="list marginbottom0">
                <li class="item" ng-repeat="chap in chapters">
                    <p>
                        <input type="checkbox" class="filled-in" id="{{chap.chapterid}}" checked="checked" ng-model="chap.selected" ng-change="addtochapfilter()" />
                        <label for="{{chap.chapterid}}">{{chap.chaptertitle}}</label>
                    </p>
                </li>
            </ul>
            <p ng-if="chapters.length<1" class="lightblackcolor nosubj">No Subject Selected</p>
        </div>
        <div class="row chapterbuttons marginbottom0 positioninitial">
            <div class="col">
                <a class="waves-effect waves-light btn nouppercase buttonbluebg boldbutton" ng-click="selectallchaps()" ng-disabled="!allchapsbutton" ng-if="chapters.length>0">All Chapters</a>
            </div>
            <div class="col">

            </div>

        </div>

        <!--FILTERS-->
        <ul id="otherfilters" class="list otherfiltersdiv">
            <li class="item otherfilterslist" ng-if="usertypes[user.userstype-1].id == 1">
                <p>
                    <input type="checkbox" class="filled-in" id="unverified" checked="checked" ng-model="filter.unver" ng-change="addtofilter('unver')" />
                    <label for="unverified" class="otherfilterslabel">Pending Questions</label>
                </p>
            </li>
            <li class="item otherfilterslist">
                <p>
                    <input type="checkbox" class="filled-in" id="answered" checked="checked" ng-model="filter.ans" ng-change="addtofilter('ans')" />
                    <label for="answered" class="otherfilterslabel">Answered</label>
                </p>
            </li>
            <li class="item otherfilterslist">
                <p>
                    <input type="checkbox" class="filled-in" id="unanswered" checked="checked" ng-model="filter.unans" ng-change="addtofilter('unans')" />
                    <label for="unanswered" class="otherfilterslabel">Un-Answered</label>
                </p>
            </li>
            <li class="item otherfilterslist">
                <p>
                    <input type="checkbox" class="filled-in" id="answeredbyteacher" checked="checked" ng-model="filter.abt" ng-change="addtofilter('abt')" />
                    <label for="answeredbyteacher" class="otherfilterslabel">Answered By Teacher</label>
                </p>
            </li>
            <li class="item otherfilterslist">
                <p>
                    <input type="checkbox" class="filled-in" id="answeredbystudent" checked="checked" ng-model="filter.abst" ng-change="addtofilter('abst')" />
                    <label for="answeredbystudent" class="otherfilterslabel">Answered By Student</label>
                </p>
            </li>
            <li class="item otherfilterslist">
                <p>
                    <input type="checkbox" class="filled-in" id="askedbyteacher" checked="checked" ng-model="filter.askt" ng-change="addtofilter('askt')" />
                    <label for="askedbyteacher" class="otherfilterslabel">Asked By Teacher</label>
                </p>
            </li>
            <li class="item otherfilterslist">
                <p>
                    <input type="checkbox" class="filled-in" id="askedbystudent" checked="checked" ng-model="filter.asks" ng-change="addtofilter('asks')" />
                    <label for="askedbystudent" class="otherfilterslabel">Asked By Student</label>
                </p>
            </li>
            <li class="item otherfilterslist">
                <p>
                    <input type="checkbox" class="filled-in" id="bookmarked" checked="checked" ng-model="filter.book" ng-change="addtofilter('book')" />
                    <label for="bookmarked" class="otherfilterslabel">Bookmarked</label>
                </p>
            </li>
        </ul>

    </ion-content>

    <div class="filterokdiv">
        <a class="waves-effect waves-light btn primarybg floatright boldbutton" ng-click="clearfilters()" style="float: left;margin-left: 10px;">Clear Filter</a>
        <a class="waves-effect waves-light btn primarybg floatright boldbutton" ng-click="addfilters()">OK</a>
    </div>

    <script>
        $(document).ready(function() {
            var docheight = $(document).height();
            var maxheight = docheight - 220;
            var filhgt = maxheight / 2;
            var chaphgt = filhgt - 56;
            $('#otherfilters').css('height', filhgt + 'px');
            $('#chapterslist').css('height', chaphgt + 'px');
        });

    </script>
</ion-view>
