<div class="z-depth-4" ng-controller="loginCtrl">
    <div class="row passheaddiv">
        <h5 class="marginauto lightblackcolor">Forgot Password</h5>
        <img src="img/lock.png" class="passlockimage">
    </div>

    <div class="row marginbottom0">
        <div class="input-field marginauto width65 textcenter">
            <input id="currentpassword" type="tel" class="validate secondarycolor noshadow changepasswordinput" placeholder="Phone Number" ng-model="forgotpassword.contact">
        </div>
    </div>

    <div class="row paddingbottom30">
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10 boldbutton nouppercase" ng-click="hidepasswordpopup()">Cancel</a>
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10 boldbutton nouppercase" ng-click="forgotpass()">Submit</a>
    </div>

</div>
