<ion-view view-title="Payment" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Payment</h1>


    </ion-header-bar>
    <ion-content class="has-header">

        <!-- <p class="payment-heading">Purchase Questions</p> -->
        <div class="purchase-note-main">
            <div class="svg-div"><svg class="important-svg" enable-background="new 0 0 504.123 504.123" version="1.1" viewBox="0 0 504.12 504.12" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="252.06" cy="252.06" r="252.06" fill="#E1E6E8" />
                    <path d="m445.83 445.83-12.603-100.04c14.966-29.145 24.418-62.228 24.418-96.886-0.787-115.79-93.735-209.53-209.53-209.53s-208.74 93.735-208.74 208.74 93.735 208.74 208.74 208.74c35.446 0 68.529-8.665 96.886-24.418l100.82 13.391z" fill="#4EBD9E" />
                    <path d="m248.12 464.74c-118.94 0-216.62-96.886-216.62-216.62s97.674-216.62 216.62-216.62c119.73 0 216.62 96.886 216.62 216.62 0 33.871-7.877 68.529-23.631 98.462l11.815 97.674c0 2.363-0.788 4.726-2.363 6.302-1.575 1.575-3.938 2.363-6.302 2.363l-97.674-11.815c-29.931 15.753-63.801 23.629-98.46 23.629zm0-417.48c-110.28 0-200.86 90.585-200.86 200.86s90.585 200.86 200.86 200.86c32.295 0 64.591-7.877 93.735-22.843 1.575-0.788 3.151-0.788 4.726-0.788l89.797 11.028-11.028-89.797c0-1.575 0-3.151 0.788-4.726 14.966-28.357 22.843-60.652 22.843-93.735 1e-3 -110.28-89.796-200.86-200.86-200.86z" fill="#183651" />
                    <path d="m248.12 425.35c-97.674 0-177.23-79.557-177.23-177.23s79.557-177.23 177.23-177.23 177.23 79.557 177.23 177.23c0 43.323-14.178 70.892-25.206 91.372l8.665 69.317-69.317-8.665c-14.179 7.878-44.111 25.207-91.373 25.207z" fill="#fff" />
                    <g fill="#F05F50">
                        <polygon points="225.28 120.52 225.28 258.36 237.1 304.84 258.36 304.84 270.97 258.36 270.97 120.52" />
                        <rect x="225.28" y="330.04" width="45.686" height="45.686" />
                    </g>
                    <g fill="#183651">
                        <rect x="137.85" y="183.53" width="15.754" height="15.754" />
                        <rect x="137.85" y="240.25" width="15.754" height="15.754" />
                        <rect x="137.85" y="296.96" width="15.754" height="15.754" />
                        <rect x="342.65" y="183.53" width="15.754" height="15.754" />
                        <rect x="342.65" y="240.25" width="15.754" height="15.754" />
                        <rect x="342.65" y="296.96" width="15.754" height="15.754" />
                    </g>
                </svg>
            </div>
            <div purchase-note-div>
                <p class="purchase-note">*Students can use 3 ‘Questions’ for free daily to get their doubts cleared from our teachers.</p>
                <p class="purchase-note free-q-text">*After the ‘Free Question’ limit is over, students can purchase more questions here.</p>
            </div>
        </div>
        <p class="payment-numofquest">How many questions would you like to purchase?</p>
        <input type="number" class="payment-input" placeholder="Enter number of Questions" ng-model="purchaseobj.numberofquestions">
        <p class="payment-note">(₹{{unitquestioncost}}/Question)</p>
        <p class="payment-amtpayable">Amount Payable : <span class="totalamount">₹{{purchaseobj.numberofquestions*unitquestioncost}}</span></p>
        



    </ion-content>
    <div class="payment-paybtn"><span>Pay with</span>
    <svg enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M512,256c0,28.442-4.639,55.808-13.208,81.377C464.792,438.868,368.933,512,256,512  c-112.776,0-208.52-72.923-242.657-174.195C4.692,312.111,0,284.609,0,256c0-19.216,2.121-37.94,6.134-55.954  C31.66,85.567,133.831,0,256,0c124.74,0,228.645,89.213,251.382,207.318C510.412,223.075,512,239.355,512,256z" fill="#F0EFEB"/><path d="m512 256c0 28.442-4.639 55.808-13.208 81.377-2.121 0-4.253-0.01-6.384-0.031-5.716-0.052-7.105-1.421-7.126-7.262-0.063-28.902-0.052-57.804-0.115-86.695-0.01-7.68-3.02-10.783-10.177-10.752-7.126 0.031-10.209 3.218-10.219 10.773-0.021 28.4 0 56.79 0.01 85.18 0 8.035-1.296 9.289-9.488 9.237-5.58-0.031-11.149 0-16.729-0.031-6.301-0.031-7.816-1.62-7.826-8.328-0.042-28.557-0.042-57.125-0.084-85.682-0.01-7.534-2.926-10.888-9.404-11.076-7.68-0.209-11.045 3.114-11.045 11.024-0.021 28.568-0.01 57.125-0.01 85.682 0 6.875-0.993 7.868-7.941 7.91-6.416 0.031-12.842-0.021-19.257 0.042-4.368 0.042-6.51-1.797-6.499-6.374 0.042-41.577 0.042-83.143-0.031-124.72-0.01-4.483 2.058-6.646 6.332-6.708 7.095-0.105 14.19 0.031 21.285-0.042 4.472-0.052 5.966 2.842 6.541 7.011 11.128-8.077 22.768-9.937 35.349-5.59 3.751 1.296 7.022 3.365 9.916 5.935 2.038 1.808 3.312 1.797 5.528 0.073 15.12-11.734 33.698-10.668 45.965 0.366 3.029 15.755 4.617 32.035 4.617 48.68z" fill="#00B8F8"/><g fill="#002875"><path d="m178.46 277.36h-0.063c0-14.524 0-29.048-0.01-43.572-0.01-1.181-0.178-2.361-0.282-3.532-1.432-16.509-10.25-26.488-26.551-29.1-14.409-2.299-28.985-0.679-43.489-0.94-3.741-0.073-5.204 2.529-5.172 6.102 0.052 5.914 0.01 11.828 0.021 17.732 0.021 6.625 1.379 8.046 7.983 8.088 8.777 0.063 17.565-0.073 26.342 0.031 4.932 0.052 7.105 2.236 6.938 6.625-0.157 4.389-2.466 6.29-6.855 6.154-4.89-0.157-9.801-0.136-14.691-0.01-19.09 0.491-32.58 13.322-33.196 31.807-0.293 8.934-0.188 17.899-0.104 26.843 0.188 21.473 12.204 33.458 33.729 33.604 13.176 0.094 26.342 0.052 39.518 0 10.856-0.042 15.778-4.869 15.862-15.757 0.104-14.693 0.02-29.384 0.02-44.075zm-40.375 29.455c-14.179 0.658-14.493 0.408-14.493-13.751 0-3.041-0.021-6.081 0.01-9.122 0.021-1.17-0.167-2.518 0.324-3.49 3.427-6.823 9.78-3.459 14.9-3.845 3.772-0.293 5.663 2.424 5.601 6.29-0.042 2.863-0.01 5.736-0.01 8.61 0.01 2.873-0.031 5.747 0.021 8.61 0.073 4.347-1.922 6.489-6.353 6.698z"/><path d="m279.34 256.62c-6e-3 15.208 0.084 30.418-0.027 45.625-0.16 22.015-13.895 35.601-35.951 35.687-11.491 0.045-22.981 0.04-34.472 3e-3 -6.268-0.02-7.678-1.475-7.703-7.805-0.025-6.421 0.123-12.846-0.029-19.263-0.113-4.738 2.089-6.827 6.68-6.842 10.139-0.031 20.276-0.147 30.415-0.141 3.917 2e-3 7.467-0.745 7.461-5.457-7e-3 -4.728-3.595-5.394-7.493-5.45-7.411-0.109-14.88 0.612-22.192-1.246-14.314-3.637-24.389-14.919-24.879-29.618-0.625-18.737-0.285-37.507-0.312-56.263-5e-3 -3.915 2.052-5.849 6.026-5.822 6.928 0.048 13.857-0.036 20.785 0.028 5.399 0.049 6.945 1.563 6.967 6.953 0.06 14.363 0.025 28.726 0.047 43.091 0.011 7.578 1.332 8.921 8.681 8.966 11.97 0.072 12.221-0.185 12.215-12.054-7e-3 -13.18-0.028-26.362 0.025-39.542 0.025-6.198 1.244-7.371 7.465-7.418 6.083-0.046 12.167-0.037 18.25-0.014 6.804 0.025 8.035 1.221 8.044 7.913 0.017 16.224 2e-3 32.447-3e-3 48.669z"/><path d="m80.959 232.3c-0.324-20.25-12.591-32.141-32.977-32.246-13.949-0.063-27.909-0.031-41.848-0.01-4.013 18.014-6.134 36.738-6.134 55.954 0 28.609 4.692 56.111 13.343 81.805 1.797 0 3.584-0.01 5.371-0.021 6.322-0.031 7.91-1.526 7.941-7.628 0.052-9.801 0.157-19.602 0-29.403-0.052-3.051 0.752-4.106 3.939-4.012 6.917 0.219 13.855 0.219 20.773-0.042 16.238-0.627 28.275-11.786 29.236-27.92 0.732-12.121 0.544-24.315 0.356-36.477zm-33.918 24.607c-0.063 3.824-2.152 5.925-5.987 6.029-3.699 0.104-7.419-0.146-11.107 0.094-2.905 0.188-3.354-1.17-3.26-3.594 0.136-3.699 0.031-7.408 0.031-11.107 0.01-3.542 0.219-7.095-0.052-10.606-0.24-3.229 1.055-4.106 4.065-3.908 3.354 0.23 6.729-0.021 10.094 0.084 4.023 0.125 6.228 2.226 6.238 6.343 0.031 5.558 0.072 11.117-0.022 16.665z"/></g><path d="m345.37 285.04c0 15.366 0.025 30.733-0.014 46.099-0.016 6.042-1.133 7.158-7.08 7.209-6.416 0.055-12.834 0.084-19.249-4e-3 -5.779-0.079-7.077-1.411-7.085-7.276-0.041-30.226-0.047-60.452-0.046-90.677 0-6.628 0.037-6.628-6.333-6.636-13-0.016-13-0.016-13.001-13.076 0-4.559 0.059-9.12-0.017-13.678-0.074-4.502 1.732-6.873 6.544-6.974 11.979-0.251 21.359-5.194 27.795-15.59 2.475-3.998 5.465-7.746 9.956-9.818 5.137-2.37 8.272-0.505 8.358 5.07 0.088 5.74 0.107 11.483-0.01 17.222-0.048 2.372 0.695 3.332 3.169 3.196 3.198-0.176 6.414-0.015 9.622-0.029 3.73-0.017 5.653 1.838 5.677 5.545 0.048 7.429 0.076 14.858 0.033 22.288-0.022 3.865-1.905 5.998-5.954 5.84-0.337-0.014-0.675-3e-3 -1.014 2e-3 -11.352 0.177-11.352 0.177-11.353 11.774 2e-3 13.171 2e-3 26.342 2e-3 39.513z" fill="#00B8F8"/></svg>

    </div>

</ion-view>
