<ion-view view-title="Ask" edge-drag-threshold="false" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Ask A Question</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="row"></div>
        <div class="greybox">
            <div class="row marginbottom0">
                <div class="input-field width100">
                    <textarea id="question" class="materialize-textarea noshadow maxheight200 cerafont" style="width: 100%;" placeholder="Type Your Question" ng-model="askques.question"></textarea>
                </div>
            </div>

            <div class="row" style="margin-bottom: 8px;">
                <!--IMAGE OR CAMERA-->
                <div class="takepicturediv" ng-if="!askques.videotype">
                    <p class="displayinline" style="margin-left: 15px;">or take a picture</p>
                    <a class="button button-icon icon takepictureicon" ng-click="pickphoto()">
                        <svg class="gallery-icon primary-stroke" width="3508" height="4961" viewBox="0 0 3508 4961">
                            <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M988,1139l-367,25s-373.889-.59-388,471c27.855,418.6,101,1682,101,1682s26,431.74,494,394" />
                            <circle class="cls-2" stroke-linecap="round" stroke-linejoin="round" cx="1744.5" cy="1799.5" r="123.5" />
                            <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M1572,1048s-348.84-81.174-383,243S964,3493,964,3493s7.222,260.26,300,271c288.28,33.23,1371,143,1371,143s337.45,101.18,417-212c37.56-337.18,219-2074,219-2074s97.37-382.77-299-429C2571.13,1153.27,1572,1048,1572,1048Z" />
                            <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M1077,2820.59l550.47-360.56L2155.54,3035" />
                            <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M1883.5,2676.58L2666.54,2076,3153,2606.17" />
                        </svg>
                    </a>
                    <a class="button button-icon icon takepictureicon" ng-click="capturephoto()">
                        <svg class="camera-icon primary-stroke" width="3508" height="4961" viewBox="0 0 3508 4961">
                            <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" d="M1732.5,1842c380.8,0,689.5,308.7,689.5,689.5S2113.3,3221,1732.5,3221,1043,2912.3,1043,2531.5,1351.7,1842,1732.5,1842Zm891.5,6a111,111,0,1,1-111,111A111,111,0,0,1,2624,1848Z" />
                            <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" d="M1380,1216h786s118-13.66,322,228c174,103.69,530-9.62,626,214,40,143.64,26,1727,26,1727s-58.66,292.24-399,288-2085-16-2085-16-278.445-47.9-277-345,1-1579,1-1579,29.655-240.71,363-260,274.17,3.21,426-142C1272.83,1217.77,1326.01,1216,1380,1216Z" />
                            <path class="cls-2" fill-rule="evenodd" d="M2628.5,1898.9c37.09,0,67.15,30.27,67.15,67.6s-30.06,67.6-67.15,67.6-67.16-30.27-67.16-67.6S2591.41,1898.9,2628.5,1898.9Z" />
                        </svg>
                    </a>
                </div>
                <!--VIDEO URL-->
                <div class="takepicturediv" ng-if="askques.videotype">
                    <p class="displayinline">Your video URL</p>
                    <input type="text" ng-model="askques.video">
                </div>
            </div>
        </div>
        <div class="row marginbottom0" style="height:30px">
            <div class="col col-50">
                <div class="askimagediv">
                    <img id="askImage" class="askimage" ng-show="showimg" src="">
                </div>
            </div>
            <div class="col col-50">
                <h6 class="lightblackcolor">{{subjectname}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col col-50"></div>
            <div class="col col-50">
                <h6 class="lightblackcolor">{{chaptername}}</h6>
            </div>
        </div>

        <div class="view-solution-wrapper" ng-if="user.userstype=='1'">
            <button class="button primarybg" ng-click="openadvancedoptions()">Advanced Filters</button>
        </div>

        <div class="row hide-on-keyboard-open">
            <div class="col">

            </div>
        </div>
    </ion-content>


    <div class="chaptersdiv z-depth-5 hide-on-keyboard-open" ng-if="showchapters">
        <ion-list>
            <ion-radio ng-model="askques.chapterid" ng-value="chap.chapterid" ng-repeat="chap in chapters" ng-change="selectchap($index)">{{chap.chaptertitle}}</ion-radio>
        </ion-list>
    </div>
    <div class="row chapterbuttons marginbottom0 hide-on-keyboard-open" ng-if="showchapters">
        <div class="col">

        </div>
        <div class="col">
            <a class="waves-effect waves-light btn floatright nouppercase buttonbluebg boldbutton" ng-click="removefilters()">OK</a>
        </div>

    </div>

    <a class="button icon-right icon-send-plane-blue button-calm primarybg postbutton postbtn hide-on-keyboard-open" ng-click="sendquestion()">Post</a>

    <div class="bottomstabs hide-on-keyboard-open">
        <div class="row marginbottom0 paddingbottom0 bottomimagestab paddingtop0">
            <div class="col col-25 textcenter bottomtabimages paddingbottom0 paddingtop0" ng-repeat="subject in subjects" ng-click="selectsubject($index)">
                <img src="{{subject.iconpath}}" class="subjfilterimages" width="32%" ng-show="$index == selectedsubject || selectedsubject==null">
                <img src="{{subject.inacticonpath}}" class="subjfilterimages" width="32%" ng-show="$index != selectedsubject && selectedsubject !=null">
            </div>
        </div>
        <div class="row marginbottom0 paddingbottom0">
            <div class="col col-25 textcenter bottomtabtextdiv" ng-repeat="subject in subjects">
                <h6 class="margin0 bottomtabtext">{{subject.subject}}</h6>
            </div>
        </div>
    </div>


</ion-view>
