<ion-view view-title="Top 10">
    <ion-header-bar align-title="left" class="bar-stable">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Top 10</h1>
        <div class="buttons">
        </div>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="row marginbottom0">
            <div class="col col-50 primarybgcolor textcenter" ng-class="{selectedleaderboard:showasked, unselectedleaderboard: !showasked}" ng-click="changeleaderboard()">Askers</div>
            <div class="col col-50 primarybgcolor textcenter" ng-class="{unselectedleaderboard: showasked, selectedleaderboard: !showasked}" ng-click="changeleaderboard()">Answerers</div>
        </div>

        <div class="list" ng-show="showasked">

           <div class="item paddingbottom0 leaderlist" ng-repeat="ask in toptenasked">
                <div class="row marginbottom0 leaderrow">
                    <div class="col">
                        <img src="{{usertypes[ask.qusertype-1].image}}" class="leaderboarduserimage" width="100%">
                    </div>
                    <div class="col col-75">
                        <h2>{{ask.qusername}}</h2>
                        <p>Questions Asked: {{ask.qcount}}</p>
                    </div>
                    <div class="col col-10">
                        <h3 class="primarycolor leadercount" ng-class="{'leadercount10':$index==9}">{{$index+1}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="list" ng-show="!showasked">

            <div class="item paddingbottom0 leaderlist" ng-repeat="ans in toptenanswered">
                <div class="row marginbottom0 leaderrow">
                    <div class="col">
                        <img src="{{usertypes[ans.ausertype-1].image}}" class="leaderboarduserimage" width="100%">
                    </div>
                    <div class="col col-75">
                        <h2>{{ans.ausername}}</h2>
                        <p>Questions Answered: {{ans.acount}}</p>
                    </div>
                    <div class="col col-10">
                        <h3 class="primarycolor leadercount" ng-class="{'leadercount10':$index==9}">{{$index+1}}</h3>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>