<ion-view view-title="Login">
    <ion-header-bar align-title="left" class="bar-calm loginbgcolor">
        <div class="buttons">

        </div>
        <h1 class="title">Login</h1>
        <div class="buttons">

        </div>
    </ion-header-bar>

    <ion-content class="has-header greybg loginbg">

        <ion-tabs id="logintabs" class=" loginbgcolor ">

            <ion-tab title="Login" on-select="gotologintab()">

                <div class="row">
                    <div class="col">

                        <div class="loginbox">

                            <div class="row loginrow marginbottom0" style="padding-top: 20px;">
                                <div class="col">
                                    <form class="">
                                        <div class="input-field">
                                            <i class="icon-login-phone-hollow  prefix"></i>
                                            <input id="icon_prefix" type="number" class="validate loginprefixinput tallbox" placeholder="Phone" ng-model="logindata.contact">
                                        </div>

                                    </form>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <form class="">

                                        <div class="input-field">
                                            <i class="icon-login-password prefix"></i>
                                            <input id="icon_prefix" type=tel style="-webkit-text-security:disc;" ng-model="logindata.password" class="validate loginprefixinput tallbox" maxlength="4" placeholder="Password">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-80">
                                    <a class="waves-effect waves-light btn primarybg loginbutton" ng-click="dologin()">Log in</a>
                                </div>
                                <div class="col-10"></div>
                            </div>
                            <div class="textcenter errortextlogin" ng-if="loginerror">Phone Number and Password do not match</div>
                            <div class="textcenter forgottext" ng-click="forgotpassmodal()">Forgot Password?</div>

                            <div class="row poweredby">
                                <div class="col textcenter paddingleft0">
                                    <p class="powered-text margin0">Powered by</p>
                                    <img src="img/login/sunalis-new-logo.png" class="sunalilogo">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </ion-tab>

            <ion-tab title="Register" on-select="gotoregistertab()">
                <div class="row marginbottom0">
                    <div class="col">

                        <div class="loginbox loginboxregister z-depth-3">

                            <div class="row marginbottom0">
                                <div class="col col-20">
                                    <img src="img/profile/idcolored.svg" width="90%" class="regidicon">
                                </div>
                                <div class="col">
                                    <div class="input-field margintop0" style="margin-top: 20px !important;">
                                        <input id="name" type="text" class="validate marginbottom0 noshadow fontsize12 tallbox" placeholder="Name" ng-model="registerdata.name">
                                    </div>
                                    <div class="input-field margintop10">
                                        <input id="school" type="text" class="validate marginbottom0 noshadow fontsize12 tallbox" placeholder="School" ng-model="registerdata.school">
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                            <div class="row marginbottom0">
                                <div class="col col-20"></div>
                                <div class="col" style="margin-top:-5px">
                                    <div class="row marginbottom0 paddingleftright0">
                                        <div class="col col-75 paddingleft0">
                                            <div class="regdrops">
                                                <select ng-model="registerdata.standard">
                                                    <option value="" disabled selected>Standard</option>
                                                    <option value="{{std.standardid}}" ng-repeat="std in standards" class="standard-stream">{{std.standard}} {{std.stream}}</option>
                                                </select>
                                                <label>Standard</label>
                                            </div>
                                        </div>
                                        <div class="col col-33 paddingright0">
                                            <div class="regdrops">
                                                <select class="material-select" ng-model="registerdata.board">
                                                    <option value="" disabled selected>Board</option>
                                                    <option value="{{board.boardid}}" ng-repeat="board in boards">{{board.boardname}}</option>
                                                </select>
                                                <label>Board</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                            <div class="row marginbottom0">
                                <div class="col col-20">
                                    <img src="img/profile/phone.svg" width="90%" class="regphoneicon">
                                </div>
                                <div class="col">
                                    <div class="input-field margintop0">
                                        <input id="contact" type="tel" class="validate marginbottom0 noshadow fontsize12 tallbox" placeholder="Phone" ng-model="registerdata.contact">
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                            <div class="row marginbottom0">
                                <div class="col col-20">
                                    <img src="img/profile/email.svg" width="90%" class="regemailicon">
                                </div>
                                <div class="col">
                                    <div class="input-field margintop0">
                                        <input id="emailid" type="text" class="validate marginbottom0 noshadow fontsize12 tallbox" placeholder="name@company.com" ng-model="registerdata.email">
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                            <div class="row marginbottom0">
                                <div class="col col-20">
                                    <img src="img/profile/lock.svg" width="90%" class="reglockicon">
                                </div>
                                <div class="col">
                                    <div class="input-field margintop0 textcenter">
                                        <!--<input id="password" type="password" class="validate marginbottom0 width65 marginauto textcenter tallbox tooltip" placeholder="Create Password" ng-model="registerdata.password" maxlength="4">-->
                                        <span class="tooltiptext" ng-if="showtooltip">Enter a 4 digit number</span>
                                        <input type=tel style="-webkit-text-security:disc;" ng-model="registerdata.password" class="tooltip validate marginbottom0 width65 marginauto textcenter tallbox" maxlength="4" placeholder="Create Password" ng-focus="showpasshint()" id="password1" ng-change="writingpassword()">
                                    </div>
                                    <div class="input-field margintop10 textcenter">
                                        <input type=tel style="-webkit-text-security:disc;" ng-model="registerdata.confirm" class="validate marginbottom0 width65 marginauto textcenter tallbox" maxlength="4" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>
                            
                            <div class="row marginbottom0 coupon-section">
                                <a><p ng-click="showPopup()">Got Coupon Code?</p></a>    
                                                                                                                                        
                            </div>

                            <div class="row margintop0">
                                <div class="col col-10"></div>
                                <div class="col col-80">
                                    <a class="waves-effect waves-light btn primarybg width100 margintop3 loginbutton" ng-click="doregister()">Register</a>
                                </div>
                                <div class="col col-10"></div>
                            </div>
                            <div class="textcenter errortextlogin" ng-if="registererror">{{registererrormsg}}</div>

                        </div>
                    </div>
                </div>
            </ion-tab>

        </ion-tabs>









    </ion-content>
    <script>
        $(document).ready(function() {
            $('.material-select').material_select();
        });

        $(document).ready(function() {
            $('.tooltipped').tooltip({
                delay: 50
            });
        });

    </script>
</ion-view>
