<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content class="lightgreybg">
            <div class="menuprofile" ng-click="gotoprofile()">
                <div class="row marginbottom0">
                    <div class="col col-33 paddingleft0">
                        <img src="{{userimage[userdata.userstype-1].image}}" width="100%">
                    </div>

                </div>
                <div class="row marginbottom0">
                    <h4 class="menuname">{{userdata.name | allcapitalize}}</h4>
                </div>
                <div class="row marginbottom0">
                    <h6 class="greycolor menuprofileemail">{{userdata.email}}</h6>
                </div>
            </div>

            <div class="list">


                <a class="item menu-close menutext" ng-click="gotostd()" ng-if="userdata.userstype==1"><!--item-icon-left-->
                    <!--<i class="icon icon-home menuicons fontsize17"></i>--> Home
                </a>

                <a class="item menu-close menutext" ng-click="refreshfeed()">
                    <!--<i class="icon icon-feed menuicons fontsize17"></i>--> Feed
                </a>

                <a class="item menu-close menutext" href="#/app/profile">
                    <!--<i class="icon icon-profile menuicons fontsize17"></i>--> Profile
                </a>

                <a class="item menu-close menutext" ng-click="gotopaq()">
                    <!--<i class="icon icon-question-asked-color menuicons"></i>--> Previously Asked Questions <div class="ansdot" ng-if="answered"></div>
                </a>

                <a class="item menu-close menutext" ng-click="gotobookmarks()">
                    <!--<i class="icon icon-bookmark menuicons fontsize17 smalicon"></i>--> Bookmarked Questions
                </a>
                
                <a class="item menu-close menutext"  ng-if="userdata.userstype == 3">
                    <!--<i class="icon icon-question-left-drawer menuicons fontsize17"></i>--> Questions Left
                    <span class="questionleftbadge">{{$root.questionsleft}}</span>
                    <span class="questionplus">+</span>
                    <span class="questionleftbadge paidquestionleftbadge">{{$root.paidquestions}}</span>
                </a>

                <a class="item menu-close menutext" href="#/app/chatlist"  ng-if="userdata.userstype==2">
                    <!--<i class="icon icon-chat-icon menuicons fontsize17"></i>--> Private Chat With Teacher
                </a>
                
                <a class="item menu-close menutext" href="#/app/chatlist"  ng-if="userdata.userstype==1">
                    <!--<i class="icon icon-chat-icon menuicons fontsize17"></i>--> Private Chat
                </a>
                
                <a class="item menu-close menutext" ng-click="gotoask()">
                    <!--<i class="icon icon-drawer-ask-a-questn menuicons fontsize17"></i>--> Ask A Question
                </a>
                
                 <a class="item menu-close menutext" href="#/app/payment" ng-if="userdata.userstype == 3">Purchase Questions</a>
                
                <a class="item menu-close menutext" ng-click="gotopending()" ng-if="userdata.userstype==1">
                    <!--<i class="icon icon-question-left-drawer menuicons fontsize17"></i>--> Pending Questions 
                    <div class="ansdot" ng-if="pending"></div>
                </a>

                <a class="item menu-close menutext" href="#/app/filter">
                    <!--<i class="icon icon-filter menuicons fontsize17 smalicon"></i> -->Filter
                </a>
                
                <a class="item menu-close menutext" href="#/app/notifications">
                    <!--<i class="icon ion-android-notifications-none menuicons fontsize17 smalicon" style="font-size: 2.2em !important;"></i>--> Notifications
                </a>
                
                <a class="item menu-close menutext logout-txt" ng-click="logout()">
                    <!--<i class="icon icon-logout menuicons fontsize17"></i>--> Logout
                </a>

            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
