<ion-view view-title="Filter">

    <ion-content>

        <div class="row">
            <img src="img/login/sunali.svg" class="marginauto otpinqlogo">
        </div>

        <div class="row">
            <h6 class="greencolor marginauto fontsize12">Verify your mobile number</h6>
        </div>

        <div class="row textcenter">
            <div class="input-field inline marginauto">
                <input id="otp" ng-model="otp.value" type="number" class="validate primarycolor otpinput">
                <label for="otp" data-error="wrong" data-success="right">Enter OTP</label>
            </div>
        </div>

        <div class="row" ng-click="verifiyotp()">
            <a class="waves-effect waves-light btn marginauto primarybg">Verify</a>
        </div>
        <div class="col error-message-wrapper">
            <span class="error-message">{{errormessage}}</span>
        </div>
        <div class="row marginbottom0 margintop25">
            <div class="width100 textcenter">
                <h6 class="primarycolor fontsize12 displayinline">Your Number</h6>
                <!--                <a class="button button-icon icon ion-edit primarycolor otppencil"></a>-->
            </div>
        </div>
        <div class="row">
            <div class="width100 textcenter">
                <h6 class="fontsize12">+91 {{$root.registrationdata.contact}}</h6>
            </div>
        </div>



    </ion-content>
</ion-view>
