<ion-view view-title="Playlists" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Pending Questions</h1>

        <div class="buttons">
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull To Refresh..." on-refresh="updatequestions()">
        </ion-refresher>
        <ion-scroll class="list questionslist questionsmarginfilterbar">

            <div class="noquestext" style="padding: 0px;" ng-if="questions.length == 0">
                No Questions to show...
            </div>




            <div class="item" ng-repeat="question in questions" style="padding: 0px;" id="{{question.questionid}}">

                <h3 class="premium-title cerafont" ng-if="question.premium=='1'">EXCLUSIVE Q.</h3>


                <div class="row marginbottom0 questionrow paddingbottom0" style="margin-top: 5px !important;">
                    <div class="col col-10 textcenter paddingbottom0" ng-click="gotoanswers(question.questionid, $index)">
                        <img src="{{usertypes[question.qusertype - 1].image}}" width="150%" class="questionuserimage answeruserprofileimage" ng-class="{'lastanswered-image-red': user.userstype==1 && ((question.lastanswered==null && question.qusertype!=1) || question.lastanswered==2 || question.lastanswered==3)}">
                    </div>
                    <div class="col col-80 paddingbottom0 positionrelative" ng-click="gotoanswers(question.questionid, $index)">
                        <div style="margin-top: -4px;" class="question-user-wrapper">
                            <h2 class="questionuser cerafont">{{question.qusername | allcapitalize}}</h2>
                            <h6 class="timetext cerafont">{{question.time}}</h6>
                            <!--<h2 class="lastanswereddot" ng-if="user.userstype==1 && ((question.lastanswered==null && question.qusertype!=1) || question.lastanswered==2 || question.lastanswered==3)"></h2>-->

                        </div>
                        <div class="subj-chap-div">
                            <p class="primarycolor questionsubject cerafont marginbottom0">{{question.subject}} - {{question.qchaptername}}</p>
                        </div>
                    </div>
                    <div class="col col-10 paddingbottom0" ng-click="bookmarkques(question.questionid)">
                        <svg class="bookmark-icon" ng-class="{'primary-fill':question.bookmarked==1,'grey-stroke':question.bookmarked==0}" viewBox="0 0 3508 4961" xmlns="http://www.w3.org/2000/svg">
            <path d="m910.96 1055v2692l903.04-567 886.92 567v-2692h-1790z" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" />
        </svg>

                    </div>
                </div>

                <!-- QUESTION TEXT -->
                <div class="row marginbottom0" ng-click="gotoanswers(question.questionid, $index)" style="margin-top: 0em;" ng-if="question.premium == 0 || users.usertype!=3">
                    <div class="col col-10"></div>
                    <div class="col col-90" style="margin-left: 6px;">
                        <p class="normalwhitespace questiontext cerafont" style="padding-right: 9px;font-size: 0.88em !important;font-weight: 700;">{{question.question}}
                        </p>
                    </div>
                </div>

                <!-- QUESTION IMAGE -->
                <div class="row" style="margin-bottom: 5px !important;" ng-click="gotoanswers(question.questionid, $index)" ng-if="question.image!=null && (question.premium == 0 || users.usertype!=3)">
                    <div class="col col-10"></div>
                    <div class="col col-90 questionimagediv" ng-class="{'autoheight': question.imageview == 1}" style="margin-left: 6px;">
                        <img src="{{question.image | imagepath}}" class="questionimage">
                    </div>
                </div>

                <!-- QUESTION VIDEO -->
                <div class="row" style="margin-bottom: 5px !important;" ng-click="gotoanswers(question.questionid, $index)" ng-if="question.video!=null && (question.premium == 0 || users.usertype!=3)">
                    <div class="col col-10"></div>
                    <div class="col col-90 questionvideodiv" style="margin-left: 6px;">
                        <div class="question-video-wrapper">
                            <iframe class="youtubevideo" ng-src="{{question.video | youtubetrusted}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- PREMIUM TEXT -->
                <div class="row marginbottom0" ng-click="gotoanswers(question.questionid, $index)" style="margin-top: 0em;" ng-if="question.premium == 1 && user.userstype==3">
                    <div class="col col-10"></div>
                    <div class="col col-90" style="margin-left: 6px;">
                        <i class="ion-android-lock"></i>
                        <p class="normalwhitespace questiontext cerafont" style="display:inline; padding-right: 9px;font-size: 0.88em !important;font-weight: 700;">This is premium content and is visible only to students of Sunali's Classes.
                        </p>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 5px;">
                    <div class="col col-10"></div>
                    <div class="col col-90">
                        <div class="question-icons-wrapper">
                            <!--LIKES-->
                            <div class="question-icon-div">
                                <div ng-click="starquestion(question.questionid, $index)" style="display: inline-block;line-height: 6px;">
                                    <svg class="like-icon like-icon-{{$index}}" ng-class="{'like-icon-active':question.starred, 'grey-stroke':!question.starred}" xmlns="http://www.w3.org/2000/svg" width="3508" height="4961" viewBox="0 0 3508 4961">
                        <path class="cls-1" stroke-width="140px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M394,1960c-4,75.95-35.689-113.62,108-117s602,0,602,0,188.61,18.45,195,171c81.35-6.42,117-21,117-21l312-624-33-474s117.25-287.828,357-192c185.78,164.814,393.25,180.484,321,912,272.55,17.66,748.83-38.59,842,168,39.2,254.58-24.18,276.47,30,369,35.98,47.99,107.74,322.55,9,431-35.78,66.45-102.26,200.64-102,363-62.7,105.37-168.58,488.71-369,498s-1160,0-1160,0-293-172-273-168-54-2-54-2-100-59.65-160,224c-80,55.79-560,87.97-740,40C331.829,3410.08,398,1884.05,394,1960Z" />
                        <path class="cls-2" stroke-width="142px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1288,1971s20,1270.99,0,1299" />
                    </svg>

                                </div>
                                <p>{{ question.starcount }}</p>
                            </div>

                            <!--VIEWS-->
                            <div class="question-icon-div" ng-click="showtoast_g('View question to activate icon')">
                                <svg class="view-icon grey-stroke" ng-class="{'red-fill':question.viewed}" width="3508" height="4961" viewBox="0 0 3508 4961">
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1823,419c314.8,0,570,289,570,645.5S2137.8,1710,1823,1710s-570-289-570-645.5S1508.2,419,1823,419Z" />
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M675,3014c321.226,194.56,1016.05,163.5,1370,144,145.47-18,806.37-155.61,860-237,2.65-18.41-86.61-521.48-264-686-345.3-362.48-704.1-291.39-1016-297-857.585,36.38-944,1061-944,1061" />
                </svg>

                                <p>{{ question.viewcount }}</p>
                            </div>

                            <!--ANSWERS-->
                            <div class="question-icon-div" ng-click="showtoast_g('Icon will activate when you post an answer')">
                                <svg width="3508" height="4961" class="answer-icon" ng-class="{'green-fill':question.answered==1}" viewBox="0 0 3508 4961">
                    <path fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" fill-rule="evenodd" d="M284,2658V1607s16-460.48,580-600c596,4.39,1620,8,1620,8s520,32.34,600,616c4,639.63,0,999,0,999s-100,536.02-644,624c-580,8.03-668,12-668,12l-760,564s-164,19.98-168-268-4-328-4-328S284,3013.78,284,2658Z" />
                </svg>
                                <p>{{ question.answerscount }}</p>
                            </div>

                            <!--SHARE-->
                            <div class="question-icon-div" ng-click="sharequestion(question.questionid)">
                                <svg viewBox="0 0 304 315" class="grey-stroke share-icon">
                    <path class="cls-1" d="m33 255s-3-158.67 125-171c0.333-48.333 0-51 0-51s8-13.333 20-1 101 103 101 103 2 9-2 11c-3 3.667-105 102-105 102s-7.333 4.333-12-1c0-12.333-1-55-1-55s-63.333-15.333-106 64c-3.333 4.667-15.333 10.667-20-1z" fill="none" fill-rule="evenodd" stroke="#636468" stroke-width="16px" />
                </svg>
                            </div>

                            <!--VERIFIED-->
                            <div class="question-icon-div" ng-click="showtoast_g('Icon will activate when question is verified')">
                                <svg class="grey-fill question-verified" ng-class="{'light-green-fill':question.verified=='1'}" ng-if="question.verified=='1' || user.userstype==1" enable-background="new 0 0 191.667 191.667" version="1.1" viewBox="0 0 191.67 191.67" xml:space="preserve">
                    <path d="m95.833 0c-52.842 0-95.833 42.99-95.833 95.833s42.991 95.834 95.833 95.834 95.833-42.991 95.833-95.834-42.99-95.833-95.833-95.833zm55.029 79.646-60.207 60.207c-2.56 2.56-5.963 3.969-9.583 3.969s-7.023-1.409-9.583-3.969l-30.685-30.685c-2.56-2.56-3.97-5.963-3.97-9.583 0-3.621 1.41-7.024 3.97-9.584 2.559-2.56 5.962-3.97 9.583-3.97 3.62 0 7.024 1.41 9.583 3.971l21.101 21.1 50.623-50.623c2.56-2.56 5.963-3.969 9.583-3.969s7.023 1.409 9.583 3.969c5.286 5.286 5.286 13.883 2e-3 19.167z" />
                </svg>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </ion-scroll>


    </ion-content>

</ion-view>
