<ion-view view-title="Standard">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            
        </div>
        <h1 class="title">Welcome</h1>
        <div class="buttons">
            <a class="navbtn questions-top-icon-a" ng-click="gotochat()" ng-if="user.userstype !=3 ">
                <svg class="chat-icon" width="3508" height="4961" viewBox="0 0 3508 4961">
                    <path class="cls-2" stroke-width="140px" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M854,3051s-462-426.65-396-875c10.933-152.44,36-457.77,338-754,74-68.27,276-293.8,764-368,46-8.21,466-87.7,896,166,52,29.75,452,254.49,572,732,18,75.59,156,674.71-394,1121-498,370.31-894,343.65-1262,258-40,2.33-348,149.71-370,164-32,10.29-108,43.66-98-90s12-266,12-266S936,3104.99,854,3051Z" />
                </svg>
            </a>
            <div class="chatdot" ng-if="newmessages"></div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        
        <div class="textcenter primarycolor standardselectdiv">
            Select Standard
        </div>

        <div class="row marginbottom0" ng-repeat="std in standards" ng-if="$index%2 == 0">
            <div class="col col-50 textcenter">
                <div class="pendingdot" ng-if="standards[$index].pending != 0"></div>
                <div class="standardbox" ng-click="gotoquestions(standards[$index].standardid, standards[$index].standard)">
                    <h1 class="standardnumber">{{standards[$index].title}}</h1>
                    <p class="fontsize12">{{standards[$index].standard}} <span class="standard-stream">{{standards[$index].stream}}</span></p>
                </div>
            </div>
            
            <div class="col col-50 textcenter" ng-if="standards[$index+1]">
                <div class="pendingdot" ng-if="standards[$index+1].pending != 0"></div>
                <div class="standardbox" ng-click="gotoquestions(standards[$index+1].standardid, standards[$index+1].standard)">
                    <h1 class="standardnumber">{{standards[$index+1].title}}</h1>
                    <p class="fontsize12">{{standards[$index+1].standard}} <span class="standard-stream">{{standards[$index+1].stream}}</span></p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>