.paddingleft0,
.paddingleftright0 {
    padding-left: 0!important
}

.paddingleftright0,
.paddingright0 {
    padding-right: 0!important
}

@font-face {
    font-family: helvetica;
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf)
}

.helveticafont {
    font-family: helvetica!important
}

.title {
    padding-top: 5px!important;
    font-size: 1.5em!important
}

.textcenter {
    text-align: center!important
}

.textright {
    text-align: right!important
}

.textleft {
    text-align: left!important
}

.marginauto {
    margin-left: auto!important;
    margin-right: auto!important
}

.padding0 {
    padding: 0!important
}

.paddingbottom0 {
    padding-bottom: 0!important
}

.paddingtop0 {
    padding-top: 0!important
}

.margin0 {
    margin: 0!important
}

.marginbottom0 {
    margin-bottom: 0!important
}

.marginbottom12 {
    margin-bottom: 12px!important
}

.margintop0 {
    margin-top: 0!important
}

margintop3 {
    margin-top: 3px!important
}

.margintop10 {
    margin-top: 10px!important
}

.margintop25 {
    margin-top: 25px!important
}

.margintop30 {
    margin-top: 31%
}

.paddingbottom30 {
    padding-bottom: 30px
}

.fontsize12 {
    font-size: 1.2em!important
}

.fontsize13 {
    font-size: 1.3em!important
}

.fontsize17 {
    font-size: 1.7em!important
}

.fontsize34 {
    font-size: 3.4em!important
}

.normalwhitespace {
    white-space: normal!important
}

.floatright {
    float: right
}

.floatleft {
    float: left
}

.nouppercase {
    text-transform: initial!important
}

.displayinline {
    display: inline-block!important
}

.positionrelative {
    position: relative!important
}

.positioninitial {
    position: initial!important
}

.noshadow {
    box-shadow: 0 0 0 #fff!important
}

.borderradius5 {
    border-radius: 5px!important
}

.borderradius10 {
    border-radius: 10px!important
}

.width40p {
    width: 40px
}

.width65 {
    width: 65%!important
}

.width100 {
    width: 100%!important
}

.greyborder {
    border: 2px solid #9e9e9e
}

.lightgreybg {
    background-color: #fafafa!important;
    color: #616161!important
}

.lightgreycolor {
    color: #fafafa!important
}

.greybg {
    background-color: #e0e0e0!important
}

.lightblackbg {
    background-color: #616161!important
}

.lightblackcolor {
    color: #616161!important
}

.darkbluebg,
.greenbg,
.secondarybg {
    color: #fff!important
}

.primarybg,
.primarybg .tabs {
    background-color: #03bdd6!important;
    color: #fff!important
}

.secondarybg {
    background-color: #04a4ba!important
}

.greenbg {
    background-color: #0f7b83!important
}

.darkbluebg {
    background-color: #3a93b5!important
}

.primarycolor {
    color: #03bdd6!important
}

.secondarycolor {
    color: #04a4ba!important
}

.greencolor {
    color: #0f7b83!important
}

.darkbluecolor {
    color: #3a93b5!important
}

.darkgreycolor {
    color: #9e9e9e!important
}

.buttonbluebg {
    background-color: #5eb6f0!important
}

.buttonbluecolor {
    color: #5eb6f0!important
}

.fontsize {
    font-size: 20px!important
}

.tabstyle {
    border-color: #03bdd6!important
}

.highlight {
    border-bottom-color: #FFEB3B!important
}

.loginbox {
    height: 426px;
    background-color: #fff;
    margin-top: 111px;
    width: 100%
}

.loginbox2 {
    height: 167px;
    background-color: #03bdd6;
    position: absolute;
    z-index: -1;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .58) 1px 0 12px 1px
}

.loginrow {
    margin-top: 41px
}

.loginbut {
    text-align: -webkit-center;
    background-color: #03bdd6!important
}

.forgottext {
    margin-top: 18px;
    color: #000
}

.headborder {
    border: 0!important
}

.inqwidth {
    width: 94%
}

.poweredby {
    margin-top: 35px;
    background-color: white;
}

.poweredtext {
    color: #03bdd6;
    font-size: 16px;
    padding-top: 48px;
    font-family: helvetica;
    font-style: italic
}

.loginicon {
    background-color: #04a4ba;
    border-radius: 100%;
    padding: 3% 3% 3% 5%;
    left: -12px
}

#logintabs .tab-nav {
    background-color: #16a5b2!important;
    color: #fff!important;
    top: 74px!important;
    border: 0!important
}

#logintabs .tab-content {
    background-image: url(../img/loginbg.jpg);
    background-size: 4%;
    margin-bottom: 0
}

#logintabs .tab-title {
    font-size: 24px!important
}

.register {
    top: 19px!important
}

.registerfont {
    font-size: 15px!important
}

.rotate45 i::before {
    transform: rotate(45deg)
}
